body {
	background-color: orange;
	
}

#master {
	text-align: center;
}

.search-textbox {
	background-color: green;
	margin: 0 0 1em 0;
	font-size: 1.75em
}

#results {
	border: 1px solid black;
	width: 20em;
	height: 2em;
	background-color: white;
}

.intro{
	background-color: yellow;
	margin: 0 0 1em 0;
	font-size: 1.5em;
}